(tinyauth_forwarder) {
	forward_auth tinyauth:3000 {
		uri /api/auth/caddy

		copy_headers Remote-User Remote-Name Remote-Email Remote-Groups
	}
}

# https://caddyserver.com/docs/caddyfile/directives/forward_auth
(optional_tinyauth_forwarder) {
	reverse_proxy tinyauth:3000 {
		method GET
		rewrite /api/auth/caddy

		header_up X-Forwarded-Method {method}
		header_up X-Forwarded-Uri {uri}

		@good status 2xx
		handle_response @good {
			request_header Remote-User {rp.header.Remote-User}
			request_header Remote-Name {rp.header.Remote-Name}
			request_header Remote-Email {rp.header.Remote-Email}
			request_header Remote-Groups {rp.header.Remote-Groups}
		}

		handle_response {
			request_header -Remote-*
		}
	}
}

auth.{$DOMAIN} {
	reverse_proxy tinyauth:3000
}

id.{$DOMAIN} {
	reverse_proxy pocket-id:1411
}

{$DOMAIN} {
	import tinyauth_forwarder

	reverse_proxy glance:8080
}

whoami.{$DOMAIN} {
	import tinyauth_forwarder

	reverse_proxy whoami:80
}

beszel.{$DOMAIN} {
	import tinyauth_forwarder

	reverse_proxy beszel:8090
}

memos.{$DOMAIN} {
	import tinyauth_forwarder

	reverse_proxy memos:5230
}

files.{$DOMAIN}, copyparty.{$DOMAIN}, discord.{$DOMAIN} {
	import optional_tinyauth_forwarder

	reverse_proxy copyparty:3923
}

wg.{$DOMAIN} {
	import tinyauth_forwarder

	reverse_proxy wg-easy:80
}

transmission.{$DOMAIN} {
	import tinyauth_forwarder

	reverse_proxy gluetun:9091
}

slskd.{$DOMAIN} {
	import tinyauth_forwarder

	reverse_proxy gluetun:5030
}

immich.{$DOMAIN} {
	reverse_proxy immich-server:2283
}

listen.{$DOMAIN} {
	reverse_proxy community-fm-icecast:8000
}

radio.{$DOMAIN} {
	reverse_proxy community-fm-server:8080
}

search.{$DOMAIN} {
	import tinyauth_forwarder

	reverse_proxy fourget:80
}

{$WORDPLAY_DOMAIN}, wordplay.{$DOMAIN} {
	reverse_proxy wordplay:3000
}

chat.{$DOMAIN} {
	reverse_proxy chatto-server:4000 {
		lb_policy round_robin

		lb_try_duration 5s
		fail_duration 30s

		header_up X-Real-IP {remote_host}
	}

	encode gzip zstd
}

livekit.chat.{$DOMAIN} {
	reverse_proxy chatto-livekit:7880
}

mail.{$DOMAIN} {
	reverse_proxy stalwart:443
}

config.mail.{$DOMAIN} {
	reverse_proxy stalwart:8080
}
