# Server data directory
DATA_DIRECTORY=../data/community-fm
# Downloaded tracks directory
DOWNLOAD_DIRECTORY=../share/music/downloads
# Location of 'streamrip.toml' config (run `rip config path`)
STREAMRIP_CONFIG_PATH=./config/config.toml
# URL of Icecast instance (ex: https://listen.example.com/)
STREAM_BASE_URL=http://localhost:8000/

# Icecast configuration
ICECAST_SOURCE_PASSWORD=hackme
ICECAST_RELAY_PASSWORD=hackme
ICECAST_ADMIN_USERNAME=admin
ICECAST_ADMIN_PASSWORD=hackme
ICECAST_ADMIN_EMAIL=icemaster@example.org
ICECAST_LOCATION=Moon
ICECAST_HOSTNAME=listen.example.com

# Login used to livestream to the radio
LIVE_SOURCE_USERNAME=streamer
LIVE_SOURCE_PASSWORD=hackme

# Token for the Discord bot (https://discord.com/developers/applications)
DISCORD_BOT_TOKEN=?
# Can leave unset, only used for development purposes
# DISCORD_TEST_GUILD=?

# Directory of music for 'Local Songs' mode (can be same as `DOWNLOAD_DIRECTORY`)
LOCAL_MUSIC_DIRECTORY=../data/music/library
# ID of YouTube playlist for 'Mix Mode'
YOUTUBE_PLAYLIST_ID=?
# https://www.last.fm/api/account/create
LASTFM_API_KEY=?
# https://www.last.fm/api/account/create
LASTFM_SECRET=?
