# URL of Icecast instance (ex: https://listen.example.com/)
ICECAST_BASE_URL=http://localhost:8000/

# Icecast passwords
ICECAST_SOURCE_PASSWORD=hackme
ICECAST_RELAY_PASSWORD=hackme
ICECAST_ADMIN_PASSWORD=hackme
LIVE_SOURCE_PASSWORD=hackme

# Token for the Discord bot (https://discord.com/developers/applications)
DISCORD_BOT_TOKEN=?

# Last.fm API account (https://www.last.fm/api/account/create)
LASTFM_API_KEY=?
LASTFM_SECRET=?

# Location of 'streamrip.toml' config (run `rip config path`)
STREAMRIP_CONFIG_PATH=?

# ID of YouTube playlist for 'Mix Mode'
YOUTUBE_PLAYLIST_ID=?
